
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

$orange:#b9760c;
$orange1:#e58f00;

*
{
  padding: 0%; margin: 0%;
  box-sizing: border-box;
  border: none; outline: none;
  transition: all 0.22s linear;
  font-family: 'Gideon Roman', cursive;
  text-decoration: none;
  text-transform: capitalize;
}

html
{
    scroll-behavior: smooth;
    font-size: 280%;
}





header
{
   display: flex;
   position: fixed;
   width: 100%; 
   left: 0%; top: 0%;
   padding: 1.5rem 5rem;
   align-items: center;
   justify-content: center;

   a 
   {
       text-transform: uppercase;
       color: aliceblue; font-weight: bold;
       margin:0 auto;    font-size: .9rem;

       &:hover,&.active
       {
           color: $orange1;
       }

       &.logo
       {margin: 0 8%;
          

           img 
           {
               max-height:  4rem;
           }
       }
   }
}
.box
{
    width: 100%;
}

section
{
    padding: 2rem 7rem;
}
img
{
    width: 100%;
}
.btn
{
    padding: .5rem 2rem;
    border: .1rem solid transparent;
    background: $orange1;
    color:black;
    border-radius:.5rem ;
    font-weight: bolder;
    margin-top: 1.2rem;
    display: inline-block;
}

.home
{
    background:linear-gradient(rgba(40,40,45,.8),rgba(40,40,45,.8)), url('img/bg.png') no-repeat;
    background-position: center;  background-size: cover;     height: 100vh;     overflow: hidden;
    display: flex;                align-items: center;        padding-top: 5rem;

    .box
    {

        &.box-img
        {
            padding-left: 10%;
            padding-right: 2%;
           
        }

        .h-content
        {
            color: $orange1;
            font-size: 4rem;
        }
        .h-para
        {
            color: rgb(241, 238, 232);
            font-size: 1.2rem;
            margin: .5rem;
        }
    }
    
}








.about
{
    height:100%;
    background-color: #1d1d23;
    display: flex;
    justify-content: center;
    
    .box
    {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .h-content
        {
            color: white;
            font-size: 3rem;
        }
        .h-para
        {
            color: white;
            font-size: 2rem;
            line-height: 2.7rem;

        }
    }
}



.aboutlayer
{
    position: relative;
    background: #1d1d23;
    height: 100%;
    overflow: hidden;

    .box
    {
        position: absolute;
        width: 40%;  right: -20rem;


    }
    .main
{
    display: flex;
    flex-direction: column;
     height:  100%;
    padding :15rem 0;
    justify-content: center;

    h2 , p 
    {
        color: white;
    }

    .h-content{
        font-size: 3rem;
        margin: 1rem 0;
    }
    .h-para
    {
        font-size: 1.5rem;
        margin: 1rem 0;
    }
}
}

.gallary
{
    text-align: center;
    background: #1d1d23;
    padding: 2rem 0;
    h2 
    {
        color: white;
        margin: 2rem 0;
    }

    .main
    {
        display: flex;
       justify-content: center;
       align-items: center;
flex-wrap: wrap;

       .box
       {
           display: inline-block;
           margin: 2rem;
           width: 20%;
           border: .1rem solid rgba(255, 166, 0,.5);

           
       }
        
       
    }
}

.blog
{
    position: relative;
    background: url('img/img2.png') no-repeat;
    height: 100vh  ;
    background-size: cover; background-position: center;
    
    
    .main
    {
        color: white;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;padding: 2rem;
        

        .content
        {
            border: .5rem solid rgba(255, 166, 0,.8);

            padding: 2rem;
            text-align: center;


            h2 
            {
                font-size: 4rem;
            }
            p 
            {
                font-size: 2rem;
            }
        }


    }
}


.menu
{
    min-height: 100vh;
    background: #1d1d23;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .h-content
    {
        text-align: center;
        color: white;
        margin: 3rem;
    }
    .main
    {
        display: flex;
        gap: 2rem;
    }
.box{
    img
    {
        height: 60%;
    }
    h2 
    {

        color: $orange1;
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: 1rem 0;
    }
    p 
    {
        color: white;
        text-align: justify;
    }
}
}



.enjoy

{
    display: flex;
    background: $orange1;
    align-items: center;
    min-height: 10rem;

    .box
    {
        padding: 1rem;
        position: relative;
        
        img 
        {
            position: absolute; 
            left: 0;top: -12rem;
            width:25rem;
        }
        h2 
        {
            color: white;
            font-size: 3rem;
        }
        p 
        {
            color: white;
            font-size: 1.5rem;
        }
    }
  
}



.footer

{
    background: #1d1d23;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
    .main
    {
        display: flex;
        align-items: center;
        color: white;
        margin: 0 1rem;
        img
        {
            width: 15rem;
            margin: 2rem;
        }
    }
    header
    {
        position: relative;

        .active
        {
            color: white;
        }
    }

    .icons
    {
        color: white;
        font-size: 1.7rem;
        margin-top: 2rem;
       
        i
        {
            margin: 0 .5rem;
        }
    }
}

















@media (max-width:1400px)
{
    html 
    {
        font-size: 85%;
    }

}



@media (max-width:1200px)
{
    html 
    {
        font-size: 75%;
    }

}





@media (max-width:991px)
{
    html 
    {
        font-size: 65%;
    }

}









@media (max-width:768px)
{
    html 
    {
        font-size: 50%;
    }
    header
    {
        padding: 1.5rem 2rem;
    }
}






@media (max-width:450px)
{
    html 
    {
        font-size: 48%;
    }
    header
    {
        padding: 1rem 1.7rem;
    }

    .home
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .box
        {
    
            &.box-img
            {
                padding: 10rem;
                margin-bottom: 4rem;
               
            }
    
            .h-content
            {
                color: $orange1;
                font-size: 4rem;
            }
            .h-para
            {
                color: rgb(241, 238, 232);
                font-size: 1.2rem;
                margin: .5rem;
            }
        }
    }

    .about
    {
    flex-direction: column;
    }


    


.aboutlayer
{
    position: relative;
    background: #1d1d23;
    height: 100%;
    overflow: hidden;

    .box
    {
        position: absolute;
        width: 50%;  right: -10rem;


    }}
    .gallary
    {
        .main
        {
            .box
            {
                width:80%;
            }
        }
    }
    .menu
    {
        .main
        {
            flex-direction: column;
        }
    }
    .enjoy
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        .box
        {
            margin: 12rem 0 5rem 0;
            align-items: center;
           
            // img 
            // {
            //     position: relative;
               
            // left: 0;top: 1rem;
            // width:25rem;
            // }


        }

    }
}