@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  -webkit-transition: all 0.22s linear;
  transition: all 0.22s linear;
  font-family: 'Gideon Roman', cursive;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;
  
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  left: 0%;
  top: 0%;
  padding: 1.5rem 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header a {
  text-transform: uppercase;
  color: aliceblue;
  font-weight: bold;
  margin: 0 auto;
  font-size: .9rem;
}

header a:hover, header a.active {
  color: #e58f00;
}

header a.logo {
  margin: 0 8%;
}

header a.logo img {
  max-height: 4rem;
}

.box {
  width: 100%;
}

section {
  padding: 2rem 7rem;
}

img {
  width: 100%;
}

.btn {
  padding: .5rem 2rem;
  border: .1rem solid transparent;
  background: #e58f00;
  color: black;
  border-radius: .5rem;
  font-weight: bolder;
  margin-top: 1.2rem;
  display: inline-block;
}

.home {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 40, 45, 0.8)), to(rgba(40, 40, 45, 0.8))), url("img/bg.png") no-repeat;
  background: linear-gradient(rgba(40, 40, 45, 0.8), rgba(40, 40, 45, 0.8)), url("img/bg.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
}

.home .box.box-img {
  padding-left: 10%;
  padding-right: 2%;
}

.home .box .h-content {
  color: #e58f00;
  font-size: 4rem;
}

.home .box .h-para {
  color: #f1eee8;
  font-size: 1.2rem;
  margin: .5rem;
}

.about {
  height: 100%;
  background-color: #1d1d23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .box {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .box .h-content {
  color: white;
  font-size: 3rem;
}

.about .box .h-para {
  color: white;
  font-size: 2rem;
  line-height: 2.7rem;
}

.aboutlayer {
  position: relative;
  background: #1d1d23;
  height: 100%;
  overflow: hidden;
}

.aboutlayer .box {
  position: absolute;
  width: 40%;
  right: -20rem;
}

.aboutlayer .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 15rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutlayer .main h2, .aboutlayer .main p {
  color: white;
}

.aboutlayer .main .h-content {
  font-size: 3rem;
  margin: 1rem 0;
}

.aboutlayer .main .h-para {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.gallary {
  text-align: center;
  background: #1d1d23;
  padding: 2rem 0;
}

.gallary h2 {
  color: white;
  margin: 2rem 0;
}

.gallary .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallary .main .box {
  display: inline-block;
  margin: 2rem;
  width: 20%;
  border: 0.1rem solid rgba(255, 166, 0, 0.5);
}

.blog {
  position: relative;
  background: url("img/img2.png") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.blog .main {
  color: white;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.blog .main .content {
  border: 0.5rem solid rgba(255, 166, 0, 0.8);
  padding: 2rem;
  text-align: center;
}

.blog .main .content h2 {
  font-size: 4rem;
}

.blog .main .content p {
  font-size: 2rem;
}

.menu {
  min-height: 100vh;
  background: #1d1d23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .h-content {
  text-align: center;
  color: white;
  margin: 3rem;
}

.menu .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.menu .box img {
  height: 60%;
}

.menu .box h2 {
  color: #e58f00;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1rem 0;
}

.menu .box p {
  color: white;
  text-align: justify;
}

.enjoy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e58f00;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10rem;
}

.enjoy .box {
  padding: 1rem;
  position: relative;
}

.enjoy .box img {
  position: absolute;
  left: 0;
  top: -12rem;
  width: 25rem;
}

.enjoy .box h2 {
  color: white;
  font-size: 3rem;
}

.enjoy .box p {
  color: white;
  font-size: 1.5rem;
}

.footer {
  background: #1d1d23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: 0 1rem;
}

.footer .main img {
  width: 15rem;
  margin: 2rem;
}

.footer header {
  position: relative;
}

.footer header .active {
  color: white;
}

.footer .icons {
  color: white;
  font-size: 1.7rem;
  margin-top: 2rem;
}

.footer .icons i {
  margin: 0 .5rem;
}

@media (max-width: 1400px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  header {
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 48%;
  }
  header {
    padding: 1rem 1.7rem;
  }
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .home .box.box-img {
    padding: 10rem;
    margin-bottom: 4rem;
  }
  .home .box .h-content {
    color: #e58f00;
    font-size: 4rem;
  }
  .home .box .h-para {
    color: #f1eee8;
    font-size: 1.2rem;
    margin: .5rem;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutlayer {
    position: relative;
    background: #1d1d23;
    height: 100%;
    overflow: hidden;
  }
  .aboutlayer .box {
    position: absolute;
    width: 50%;
    right: -10rem;
  }
  .gallary .main .box {
    width: 80%;
  }
  .menu .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .enjoy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .enjoy .box {
    margin: 12rem 0 5rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */
